div.sidenav-item{
    padding-left: 1rem;
}

span.photo-header{
    padding: 5px 10px;
}


img.announcement-card-image{
    height: 190px;
    float: left;
    vertical-align: top;
    margin: 5px;
}

img.notification-thumb{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

div.notification{
    padding: 10px !important;
}

div.comment{
    padding: 10px !important;
}

p.sidenav-divader{
    padding: 6px !important;
    background-color: ghostwhite !important;
}

a.set-fav-photo{
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
}

i.padded-left{
    padding-left: 5px;
}

a.collection-item{
    padding: 6px 10px !important;
}

i.sidenav-icon{
    margin-right: 1rem;
}


.margin-bottom-0{
    margin-bottom: 0px !important;
}

ul.msg-tabs {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 48px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    white-space: nowrap;
}

li.inbox-col{
    display: inline-block;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    background-color: rgba(246,178,181,0.2);
}


a.active-tab {
    color: #ee6e73;
}


@media only screen and (min-width : 601px) and (max-width : 1260px) {
    .toast {
        width: 100%;
        border-radius: 0;} }

@media only screen and (min-width : 1261px) {
    .toast {
        width: 100%;
        border-radius: 0; } }

@media only screen and (min-width : 601px) and (max-width : 1260px) {
    #toast-container {
        min-width: 100%;
        bottom: 0%;
        top: 90%;
        right: 0%;
        left: 0%;} }

/*@media only screen and (min-width : 1261px) {
    #toast-container {
        min-width: 100%;
        bottom: 0%;
        top: 90%;
        right: 0%;
        left: 0%; } }*/


@media only screen and (min-width : 1261px) {
    #toast-container {
        top: auto !important;
        right: auto !important;
        bottom: 50%;
        left:45%;
    } }